{
  "defaults": {
    "project": 1,
    "env": 1
  },
  "actives": {
    "project": 1,
    "env": 1
  },
  "projects": [
    {
      "idx": 1,
      "id": "YOUR_PROJECT_ID",
      "name": "your-project-name",
      "domain": {
        "id": "YOUR_DOMAIN_ID",
        "name": "your-project-name-environment-id.development"
      },
      "timezone": "Your/Timezone",
      "env": [
        {
          "idx": 1,
          "id": "YOUR_ENV_ID",
          "name": "Development",
          "type": 3
        }
      ]
    }
  ]
}
